/* You can add global styles to this file, and also import other style files */
.container{
    width:100%;
}

#bar {
    margin: 20px;
    width: 400px;
    height: 8px;
  }


body{
    color: #8e2812;
    background-image: url('http://localhost:8080/ile.jpg');
	background-repeat: no-repeat;
	background-size:cover;
    background-position:center;
    background-attachment:fixed;
}

.round {
    width: 100px;
    height: 100px;
}